/* Onglet calendrier (aligné à droite) */
.calendar-wrapper {
    align-self: start; /* Aligner le calendrier en haut */
    right: 10px;
}

@media screen and (max-width: 768px) {
    .calendar-wrapper {
        margin: 10px 0;
    }    
}

.calendar-container {
    background-color: transparent;
    color: white;
    max-width: 100%; /* Définir une largeur fixe plus petite */
    margin: 0 auto; /* Centre le conteneur si sa largeur est limitée */
    padding: 15px; /* Ajoute un peu d'espace intérieur */

}

.calendar-container .title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(30,41,59);
    font-weight: bold;

}

/* Titre du calendrier */
.calendar-container h2 {
    text-align: center;
    font-size: 1.2rem; /* Réduire la taille du titre */
    margin-bottom: 15px; /* Réduire l'espacement sous le titre */
}

/* Liste des événements */
.event-list {
    display: flex; /* Active Flexbox */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 15px; /* Espacement entre les éléments */
    list-style: none;
    padding: 0;
    margin: 0px;
}

.event-summary {
    padding: 10px; /* Espace intérieur */

}

.event-item {
    margin-bottom: 8px; /* Réduire l'espacement entre les événements */
    /* background-color: rgb(30,41,59); */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    width: 300px; /* Définit une largeur fixe */
    height: 300px; /* Définit une hauteur fixe égale à la largeur */

    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    text-align: center; /* Centre le texte */

}

.event-item:hover {
    background-color: #202442;
    transform: translateY(-10px);
}

.event-summary {
    background-image: url("../images/ronde-saint-michelloise.jpg");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    width: 100%; /* Assure qu'il prend toute la largeur de la case */
    padding: 10px; /* Garde l'espace intérieur */

    display: flex;
    flex-direction: column; /* Si tu as plusieurs lignes de texte à centrer */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Assure le centrage du texte */
    flex-grow: 1; /* Permet à summary de prendre l'espace restant avant details */
    font-size: 1.5rem;
    color:white;
}

.event-details {
    width: 100%;
    background-color: white;
    font-size: 0.85rem; /* Réduire légèrement la taille du texte */
    margin-top: auto;
    height: 20%;

    display: flex;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Assure le centrage du texte */
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.event-details p {
    margin: 0;
    padding: 0;
}

.event-item:hover:not(:has(.event-details:hover)) {
    background-color: #50567A;
}


.calendar-container h3 a {
    text-decoration: none;
    color: white;
}

.calendar-container h3 a:hover {
    color: blue;
}

.calendar-container h3 {
    text-align: center;
    font-size: 1rem;
}

#calendar {
    width: 100%;
    height: 600px; /* ou toute autre hauteur adaptée */
}
