header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-banner {
    display: flex;
    align-items: center; /* Centre verticalement l'image et le titre */
    justify-content: flex-start; /* Aligne l'image et le titre à gauche */
    background-image: url('../images/terrain.jpg'); /*Mettez le chemin de votre image */
    /* background-image: url('../images/slc_noel.png'); */
    background-size: cover; /* Couvre toute la bannière */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    padding: 40px; /* Ajustez les marges internes */
    position: relative;
    font-size: 2rem;
    color: white;
    overflow: hidden;

}


.main-banner a {
    display: inline-block; /* Garantit que l'image est traitée comme un élément en ligne-bloc */
    vertical-align: middle; /* Centre verticalement l'image avec le texte environnant */
    text-decoration: none; /* Enlève le soulignement si nécessaire */
}

/* Style pour l'image dans la bannière */
.banner-logo {
    border-radius: 50px;
    height: 50%; /* Taille proportionnelle à la hauteur de la bannière */
    max-height: 80px; /* Limite la taille de l'image pour l'état réduit */
    object-fit: contain; /* Garde les proportions de l'image */
    transition: height 0.3s ease; /* Transition fluide sur la taille */
}

/* Style du titre */
.title {
    color: white;
    font-size: 3rem;
    text-decoration: none;
    font-weight: bold;
    text-align: left; /* Aligne le texte à gauche */
    margin-left: 20px; /* Ajoute un petit espace entre l'image et le titre */
    z-index: 1;
    white-space: nowrap; /* Empêche que le texte se brise en plusieurs lignes */
}

/* Style du sous-bandeau */
.sub-banner {
    background-color: #202442;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 15px; /* Espacement entre les boutons */
}

/* Style des boutons */
.dropdown-button {
    background-color: #3A3F5A;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour la couleur de fond et l'agrandissement */
    transform-origin: center; /* L'agrandissement se fait depuis le centre */
}

.dropdown-button:hover {
    background-color: #50567A;
    transform: scale(1.1); /* Agrandit légèrement le bouton sans changer son positionnement */
}

/* Conteneur du menu déroulant */
.dropdown {
    position: relative; /* Permet de positionner le menu déroulant à l'intérieur de chaque bouton */
}

/* Menus déroulants */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Place le menu juste en dessous du bouton */
    left: 50%; /* Centre le menu sous le bouton */
    transform: translateX(-50%);
    width: auto; /* La largeur s'ajuste automatiquement au contenu */
    max-width: 350px; /* Optionnel : limite la largeur si nécessaire */
    background-color: #3A3F5A;
    list-style: none;
    border-radius: 5px;
    margin: 5px 0 0;
    padding: 10px 20px; /* Ajuster l'espacement entre le texte et les bords */
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Alignement des éléments du menu déroulant */
.dropdown-menu li {
    display: block; /* Aligne les éléments les uns sous les autres */
    margin: 5px 0; /* Espacement vertical entre les éléments */
}

.dropdown-menu li:hover {
    background-color: #50567A;
}

header.expanded {
    transition: height 0.3s ease;
}

/* Style des liens dans le menu déroulant */
.dropdown-menu li a {
    display: block; /* Chaque lien prend une ligne entière */
    background-color: #3A3F5A;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 1rem;
    text-align: left; /* Aligne le texte à gauche */
    border-radius: 5px;
    transition: background-color 0.3s ease, font-size 0.3s ease;
    line-height: 1.5; /* Espacement vertical entre les lignes de texte */
    white-space: nowrap;
    border-radius: 5px;
}

.dropdown-menu li a:hover {
    background-color: #50567A; /* Si vous voulez conserver le changement de fond */
    font-size: 1rem; /* Empêche le texte de s'agrandir */
    color: white;
}

/* Menu déroulant visible */
.dropdown.active .dropdown-menu {
    display: block; /* Affiche le menu déroulant */
    border-radius: 5px;
}

.dropdown-button a,
.dropdown-menu a {
    color: white;
    text-decoration: none;
}

.burger-menu {
    display: none;
    font-size: 8vw;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    position: absolute; 
    right: 20px;
    z-index: 1000;
}


/* Styles spécifiques pour les petits écrans (mobiles) */
@media screen and (max-width: 768px) {
    /* Réduire la hauteur de l'image de fond sur mobile */
    .main-banner {
        height: 50px; /* Réduire la hauteur de l'image sur mobile */
        padding: 20px; /* Ajuster le padding */
    }

    /* Réduire la taille du logo */
    .banner-logo {
        max-height: 40px; /* Taille plus petite pour le logo */
    }

    /* Réduire la taille du titre */
    .title {
        font-size: 5vw; /* Taille dynamique en fonction de la largeur de l'écran */
        margin-left: 10px; /* Ajuster l'espace entre le titre et le logo */
    }

    /* Ajuster les boutons */
    .dropdown-button {
        padding: 8px 25px; /* Réduire le padding des boutons */
        font-size: 0.9rem; /* Ajuster la taille de la police */
    }

    /* Ajuster les éléments du sous-bandeau */
    .sub-banner {
        display: none; /* Cacher la bannière par défaut */
        justify-content: flex-start;
        flex-direction: column; /* Aligne les boutons verticalement */
        place-items: center; /* Centre horizontalement les boutons */
        position: absolute; /* Positionne la bannière en haut de l'écran */
        top: 90px; /* Ajuste la hauteur par rapport à la bannière principale */
        left: 0;
        width: 100%; /* Prend toute la largeur de l'écran */
        height: calc(100vh - 70px);
        background-color: #202442; /* Couleur de fond */
        z-index: 999; /* Par-dessus les autres éléments */
        padding: 10px 0;
        overflow-y: auto;
        transition: max-height 0.3s ease; /* Animation du déroulement */
        overflow: hidden;
        max-height: 0; /* Hauteur initiale (caché) */
        padding-top: 10vh;
    }
    
    .sub-banner.active {
        display: flex; /* Affiche la bannière */
        max-height: calc(100vh - 40px); /* Hauteur maximale lorsqu'elle est ouverte */
        transition: max-height 0.3s ease;
    }

    .main-menu.active {
        background-color: black;
        height: 100%;
    }

    .burger-menu {
        display: flex;
    }
}
